*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}
body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.title{
    text-align: left;
    padding: 25px 0;
    font-weight: bold;
}
.status-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.admin, .user{
    display: flex;
    flex-direction: row;
}
.admin{
    align-items: flex-start;
}
.user{
    align-items: flex-end;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.mask{
    background: url("../img/mask.png") no-repeat center center;
    background-size: 100% 100%;
}
.timer,
.guesses,
.shipsSunk,
.hitNum{
    display: inline-block;
    margin: 10px 15px;
}
#field{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: white;
}
button:active, button:focus{
    outline: 0;
}
#start{
    border: 1px solid #28a745;
    background-color: #28a745;
}
#start:focus{
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
#start:active{
    background: #1e7e34;
}
#reset{
    border: 1px solid #dc3545;
    background-color: #dc3545;
}
#reset:focus{
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}
#reset:active{
    background: #bd2130;
}
#reload{
    border: 1px solid #6c757d;
    background-color: #6c757d;
}
#reload:focus{
    box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}
#reload:active{
    background: #545b62;
}
table{
    margin: 20px auto;
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    width: 40px;
    height: 40px;
    border: 1px solid #dee2e6;
}
.hit{
    background: url("../img/hit.png") no-repeat center center;
}
.miss{
    background: url("../img/miss.png") no-repeat center center;
}
.ship{
    background-color: red;
}
img{
    display: inline-block;
    height: 30px;
}
span{
    line-height: 30px;
}
button{
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    #field{
        flex-direction: column;
        margin-top: 10px;
    }
    .title{
       padding: 15px;
    }
    .guesses, .shipsSunk, .hitNum{
        margin: 10px 15px;
    }
    td{
        width: 25px;
        height: 25px;
    }
    .guesses{
        display: none;
    }
    .hitNum{
        display: none;
    }
    .hit{
        background-size: cover;
    }
    .miss{
        background: url("../img/miss.png") no-repeat center center;
    }
}