*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}
body{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.header{
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}
.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-title{
    font-size: 24px;
    color: black;
    text-align: left;
    padding: 10px 0;
    font-weight: bold;
    text-decoration: none;
}
.field__title{
    padding-top: 20px;
}
.message{
    padding: 10px 0;
}
#field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
table{
    margin: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    width: 40px;
    height: 40px;
    border: 1px solid #dee2e6;
}
.hit{
    background: url("../img/hit.png") no-repeat center center;
}
.miss{
    background: url("../img/miss.png") no-repeat center center;
}
.ship{
    background-color: #4682B4;
}
.mask{
    background-color: #ADD8E6;
}
img{
    display: inline-block;
    height: 30px;
}
button{
    cursor: pointer;
    color: white;
    background-color: #4682B4;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    font-weight: lighter;
    outline: 0;
}
button:hover{
    color: white;
    background-color: #191970;
}
.field__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
}
.footer{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 4px 8px rgba(0, 0, 0, .2);
}
.footer > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}
.footer img{
    height: 18px;
}
.footer span{
    margin: 0 10px;
}
@media screen and (max-width: 1280px) {
    .header{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    td{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 600px) {
    body{
        margin-bottom: 10px;
    }
    .footer{
       position: relative;
       width: 100%;
       flex-wrap: wrap;
       flex-direction: row;
       height: 100%;
       box-shadow: none;
    }
    .footer > div{
        width: 29%;
        margin: 5px 2%;
    }
    .footer span{
        margin: 0 5px;
    }
}
@media screen and (max-width: 480px) {
    .main-title{
        font-size: 20px;
        padding: 5px 0;
    }
    .message{
        padding: 5px 0;
    }
    .container{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        padding-bottom: 30px;
    }
    .header .container{
        padding-bottom: 10px;
    }
    #field{
        flex-direction: column;
    }
    .field__title{
        font-size: 14px;
    }
    table{
        margin: 5px 15px;
    }
    .field__info{
        font-size: 12px;
        justify-content: space-around;
    }
}